<header>
<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid headerSCSS">
            <a class="navbar-brand" href="/home">
                <img
                  class="rounded-circle"
                  src="../../../../assets/img/5.a.png"
                  height="45"
                  width="48"
                  alt=""
                  loading="lazy"
                />
                Facemask Detector
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarRightAlignExample"
                aria-controls="navbarRightAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarRightAlignExample">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- Home -->
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <!-- LOG_IN -->
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Iniciar Sesión</a>
                    </li>
                    <!-- LOG_OUT -->
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Cerrar Sesión</a>
                    </li>
                    <!-- NOTIFICATIONS_CAMPANA -->
                    <li class="nav-item dropdown me-3 me-lg-1">
                        <a
                          class="nav-link dropdown-toggle hidden-arrow"
                          href="#"
                          id="navbarDropdownMenuLink"
                          role="button"
                          data-mdb-toggle="dropdown"
                          aria-expanded="false"
                        >
                            <i class="fas fa-bell fa-lg"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">12</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Some news</a></li>
                            <li><a class="dropdown-item" href="#">Another news</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <!-- PROFILE_CONFIG -->
                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          role="button"
                          data-mdb-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    <!-- PROFILE_PICTURE -->
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link d-sm-flex align-items-sm-center">
                          <img
                            src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                            class="rounded-circle"
                            height="22"
                            alt=""
                            loading="lazy"
                          />
                          <strong class="d-none d-sm-block ms-1">John</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- Navbar -->
</header>