<div class="position">
    <div class="row">
        <div class="column">
            <div class="card">
                <img
                  class="card-img-top"
                  src="../../../../assets/img/encabezado-tarjeta.png"
                  alt=""
                  loading="lazy"
                />
                <div class="card-body">
                    <h5 class="card-title">¿Cómo buscar?</h5>
                    <p class="card-text">Escribe la cédula, nombre o departamento por el cual deseas filtrar los resultados.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="column col-5 d-flex justify-content-center">
            <div class="input-group rounded">
                <input type="search" 
                    class="form-control rounded" 
                    placeholder="Buscar empleados" 
                    aria-label="Search"
                    aria-describedby="search-addon"
                    #box
                    (keyup.enter)="searchEmployees(box.value)"/>
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-12">
            <table class="table table-bordered table-hover bg-light">
                <thead>
                    <tr>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let e of employees">
                        <td>{{e.ci}}</td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.depto}}</td>
                        <td>{{e.estado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
