.limites {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
    padding-left: 5%;
    padding-right: 5%;
}
.color_barra {
    background: #E3E3E3;
    //box-shadow: 3px -3px 5px 2px #444;
    box-shadow: 1px 1px 7px #afaeae;
}
.elemento {
    //box-shadow: -2px -2px 5px #999;
    box-shadow: 1px 1px 7px #000000;
    padding-bottom: 2%;
}
.interlineado {
    padding-top: 2%;
}
.sangria {
    padding-left: 5%;
}
.sombreado {
    box-shadow: -2px 2px 5px #999;
}
