<div class="container-fluid">
        <div class="abs-center">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4 imagenSCSS">
                        <img src="../../../assets/img/2.b.png" class="img-fluid rounded" style="display:inline" alt="Mi foto">
                    </div>
                    <div class="col-md-8 margenizquierdo">
                        <div class="card-body">
                            <h5 class="card-title text-center">INICIAR SESIÓN</h5>
                            <form novalidate>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <br>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-4 aqui">
                                        <button type="submit" class="btn btn-primary btn-block btn-md">Entrar</button>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="text-center small" style="padding-top: 1rem!important;">¿Olvidaste tu contraseña? <a class="small" href="https://www.google.com/">Click Aquí</a></p>
                                    </div>
                                </div>  
                            </form>                       
                        </div>
                    </div>  
                </div>
            </div>
        </div>
</div>
<!-- <div class="container-fluid">
    <div class="abs-center">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-8 margenderecho">
                    <div class="card-body">
                        <h5 class="card-title text-center">INICIAR SESIÓN</h5>
                        <form novalidate>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <br>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-4 aqui">
                                    <button type="submit" class="btn btn-primary btn-block btn-md">Entrar</button>
                                </div>
                                <div class="col-md-8">
                                    <p class="text-center small" style="padding-top: 1rem!important;">¿Olvidaste tu contraseña? <a class="small" href="https://www.google.com/">Click Aquí</a></p>
                                </div>
                            </div>  
                        </form>                       
                    </div>
                </div>  
                <div class="col-md-4 imagenSCSS">
                    <img src="../../../assets/img/2.b.png" class="img-fluid rounded" style="display:inline" alt="Mi foto">
                </div>
            </div>
        </div>
    </div>
</div> -->