
.abs-center {
    display: flex;
    justify-content: center;
    padding-top: 3rem!important;
    padding-bottom: 2.2rem!important;
  }
.card {
    max-width: 740px;
    box-shadow: 1px 1px 15px #000000;
}
 
.form {
    width: 740px;
}
.col-md-4 {
    display:flex;
    justify-content: center;
	align-items: center;
}

.img-fluid {
    display: flex;
}

.aqui{
    justify-content: left;
}
.imagenSCSS {
    max-width: 100%;
    max-width: 100%;
}
.margenizquierdo {
    padding-left: 0rem!important;
}
.margenderecho {
    padding-right: 0rem!important;
}
.move-center{
    margin: auto;
}
.move-right{
    margin-left: 50px;
}
.move-down{
    margin-top: 30px;
}