<div class="container-fluid">
        <div class="abs-center">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-5 ">
                        <img src="../../../assets/img/foto-login.png" class="img-fluid rounded h-100" style="display:inline" alt="Mi foto">
                    </div>
                    <div class="col-md-7 margenizquierdo">
                        <div class="card-body" >
                            <h5 class="card-title text-center move-down">INICIAR SESIÓN</h5>
                            <br>
                            <form *ngIf="!isLoggedIn"
                            name="form"
                            (ngSubmit)="f.form.valid && onSubmit()"
                            #f="ngForm"
                            novalidate
                            method="POST">
                                <div class="form-group ">
                                    <label class="move-right" for="email">Correo</label>
                                    <input 
                                        type="email" 
                                        name="correo" 
                                        id="email" 
                                        class="form-control w-75 move-center" 
                                        placeholder="Ingrese su correo institucional" 
                                        [(ngModel)]="form.correo"
                                        required
                                        #correo="ngModel">
                                    <div
                                        class="alert alert-danger"
                                        role="alert"
                                        *ngIf="f.submitted && correo.invalid">
                                        Debe ingresar su correo institucional
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="move-right" for="password">Contraseña</label>
                                    <input 
                                        type="password" 
                                        name="contrasena" 
                                        id="password" 
                                        class="form-control w-75 move-center" 
                                        placeholder="Ingrese su contraseña"
                                        [(ngModel)]="form.contrasena"
                                        required
                                        minlength="8"
                                        #contrasena="ngModel">
                                    <div
                                        class="alert alert-danger mt-3"
                                        role="alert"
                                        *ngIf="f.submitted && contrasena.invalid"
                                    >
                                        <div *ngIf="contrasena.errors?.required" class="mt-3">Debe ingresar su contraseña</div>
                                        <div *ngIf="contrasena.errors?.minlength" class="mt-3">
                                          Contraseña debe contener al menos 8 caracteres
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-4 aqui">
                                        <button type="submit" class="btn btn-primary btn-block btn-md">Entrar</button>
                                    </div>
                                    <div class="form-group">
                                        <div
                                          class="alert alert-danger mt-3"
                                          role="alert"
                                          *ngIf="f.submitted && isLoginFailed"
                                        >
                                          Error de Login
                                        </div>
                                    </div>
                                </div>  
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-8">
                                        <p class="text-center small" style="padding-top: 1rem!important;">¿Olvidaste tu contraseña? <a class="small" href="">Comúnicate con tu administrador</a></p>
                                    </div>
                                </div>
                                <div class="alert alert-success mt-3" *ngIf="isLoggedIn">
                                    Ha iniciado sesión como {{ rol }}.
                                </div>
                            </form>                       
                        </div>
                    </div>  
                </div>
            </div>
        </div>
</div>






