<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <i class="fas fa-chart-pie text-white"></i>
      <a href="#" class="nav-link text-white nbg">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <i class="fas fa-bell text-white"></i>
      <a href="#" class="nav-link text-white nbg">
        Notificaciones
      </a>
    </li>
    <li class="nav-item">
      <i class="fas fa-pencil-alt text-white"></i>
      <a href="#" class="nav-link text-white nbg">
        Registro de empleados
      </a>
    </li>
    <li class="nav-item">
      <i class="fas fa-user-friends text-white"></i>
      <a href="#" class="nav-link text-white nbg">
        Empleados
      </a>
    </li>
  </ul>
</div>
