.nav-link {
    border-radius: 0;
}

.nbg {
    background-color: transparent !important;
}

hr {
    width: 85%;
    height: 1px;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    margin-left: -20px;
}

.p-pad {
    margin-left: 30px;
    margin-top: -3px;
}
  
.li-pad {
    padding-top: 20px;
}

.txt-color {
    color: #b8b8b8;
}

li :hover {
    color: whitesmoke;
}