<div class="position-absolute top-0 start-0 h-100 bg-dark" style="width: 250px;">
  <div class="mt-3 d-flex justify-content-center">
    <a class="navbar-brand txt-color text-uppercase" href="/">
      <img
        class="rounded-circle"
        src="../../../../assets/img/5.a.png"
        height="42"
        width="45"
        alt=""
        loading="lazy"
      />
       Administrador
    </a>
  </div>
  <div class="d-flex justify-content-center">
    <hr>
  </div>
  <ul>
    <li class="nav-item" style="margin-top: 10px;" routerLinkActive="active">
      <a routerLink="/admin-board/dashboard" class="nav-link txt-color nbg d-flex">
        <i class="fas fa-chart-pie txt-color"></i>
        <p class="text-uppercase p-pad">Dashboard</p>
      </a>
    </li>
    <li class="nav-item li-pad">
      <a href="#" class="nav-link txt-color nbg d-flex">
        <i class="fas fas fa-bell txt-color"></i>
        <p class="text-uppercase p-pad">Notificaciones</p>
      </a>
    </li>
    <li class="nav-item li-pad">
      <a href="#" class="nav-link txt-color nbg d-flex">
        <i class="fas fa-user-friends txt-color"></i>
        <p class="text-uppercase p-pad">Empleados</p>
      </a>
    </li>
  </ul>
  <div class="d-flex justify-content-center">
    <hr>
  </div>
  <div class="text-center mx-auto mb-1 mt-1 txt-color">
    <p class="txt-color">&copy; 2021 Copyright <a>FaceMask Detector</a></p>
    <p class="text-color">Designed by Students</p>
  </div>
  <br>
  <div class="text-center mx-auto mb-1 mt-1 txt-color">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
      <br />Esta obra está bajo una 
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional</a>
  </div>
  <br>
  <div class="text-center mx-auto mb-1 mt-1">
    <a href="#"><i class="fab fa-linkedin-in txt-color mx-4"></i></a>
    <a href="https://linktr.ee/Facemask_Detector_Team"><i class="fab fa-github txt-color mx-4"></i></a>
  </div>
</div>


