<div 
    class="container-fluid margin-container"
    *ngIf="currentUser; else loggedOut">
    <div class="abs-center main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="isActive" class="d-flex flex-row justify-content-center pb-3">
                            <img [src]="streamRoute" width="100%" height="200">
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="d-flex flex-column px-3">
                                <button class="btn btn-primary" (click)="manageStream(currentUser.ci)">Iniciar detector</button>
                            </div>
                            <div class="d-flex flex-column px-3">
                                <button class="btn btn-primary" (click)="manageStream(currentUser.ci)">Detener detector</button>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-columns"></i>   Departamento</h6>
                            <span class="text-dark">{{currentUser.departamento}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-glasses"></i>   Supervisor</h6>
                            <span class="text-dark">{{currentUser.supervisor}}</span>
                        </li>
                    </ul>
              </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre completo</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{currentUser.nombre_completo}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Correo institucional</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{currentUser.correo}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Teléfono</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{currentUser.tlf}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dirección</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{currentUser.direccion}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3 pt-3">
                        <h5 class="text-uppercase">Indicadores personales</h5>     
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <h6 class="d-flex align-items-center mb-3 pt-3 margin-dif">El día de hoy</h6>
                            <div class="card-body d-flex justify-content-center">
                                <canvas baseChart
                                    [data]="pieChartData" 
                                    [labels]="pieChartLabels" 
                                    [chartType]="pieChartType"
                                    [options]="pieChartOptions"
                                    [colors]="pieChartColors"
                                    [plugins]="pieChartPlugins"
                                    [legend]="pieChartLegend"
                                    height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <h6 class="d-flex align-items-center mb-3 pt-3 margin-dif">En los últimos días</h6>
                            <div class="card-body d-flex justify-content-center">
                                <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
