<footer class="page-footer color">
    <div class="footerSCSS">
        <div class="row align-items-center">
            <!--Primera columna-->
            <div class="col-md-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold text-white">El Proyecto</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;"> 
                <p class="mt-2 text-white opcion1">Facemask Detector propone el monitoreo del uso correcto del tapabocas en los empleados de tu empresa mediante Inteligencia Artificial, con el fin de generar métricas que asistan en la toma de decisiones que mejoren la seguridad y salud del entorno laboral.</p>
            </div>
            <!--Segunda columna-->
            <div class="col-md-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold text-white">Herramientas</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 120px; height: 2px;"> 
                <ul class="list-unstyled">
                    <li class="my-2 text-white"><a>Flask</a></li>
                    <li class="my-2 text-white"><a>Angular</a></li>
                    <li class="my-2 text-white"><a>PostgreSQL</a></li>
                    <!--<li class="my-2 text-white"><a>Bootstrap</a></li>-->
                    <li class="my-2 text-white"><a>MDBootstrap</a></li>
                </ul>
            </div>
            <!--Tercera columna-->
            <div class="col-md-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold text-white">Equipo de Desarrollo</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height: 2px;">
                <ul class="list-unstyled opcion2">
                    <li class="my-2 text-white"><i class="fas fa-address-card"></i><a class="mx-3 text-white">Andrea Charles</a></li>
                    <li class="my-2 text-white"><i class="far fa-address-card"></i><a class="mx-3 text-white">Gabriel Silva</a></li>
                    <li class="my-2 text-white"><i class="fas fa-inbox"></i><a class="mx-3 text-white">unimet.web@unimet.edu.ve</a></li>
                    <li class="my-2 text-white"><i class="fas fa-university"></i><a class="mx-3 text-white">Universidad Metropolitana</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-white">
        <div class="row align-items-center">
            <div class="col-md-4 text-center mx-auto mb-1 mt-1 text-white">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                    <br />Esta obra está bajo una 
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional</a>
            </div>
            <div class="col-md-4 text-center mx-auto mb-1 mt-1">
                <a href="#"><i class="fab fa-linkedin-in text-white mx-4"></i></a>
                <a href="https://linktr.ee/Facemask_Detector_Team"><i class="fab fa-github text-white mx-4"></i></a>
            </div>
            <div class="col-md-4 text-center mx-auto mb-1 mt-1 text-white">
                <p>&copy; 2021 Copyright <a>FaceMask Detector</a></p>
                <p>Designed by Students</p>
            </div>
        </div>
    </div>
</footer>
