.footerSCSS {
    padding-top: 2rem!important;
    margin-right: 3rem;
    margin-left: 3rem;
}

.color {
    background-color: #494847;
}

.row {
    text-align: center;
}

.opcion1 {
    text-align: justify;
}

.opcion2 {
     text-align: justify;
     padding-left: 20%;
}
