<div class="position">
    <div class="row">
        <div class="column">
            <div class="card">
                <img
                  class="card-img-top"
                  src="../../../../assets/img/encabezado-tarjeta2.png"
                  alt=""
                  loading="lazy"
                />
                <div class="card-body">
                    <h5 class="card-title">Centro de notificaciones</h5>
                    <p class="card-text">Lista de faltas cometidas por los empleados.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="column" id="notif"></div>
    </div>
</div>
