<!-- Background image -->
<div id="intro-example" class="p-5 text-center bg-image" style="background-image: url('../../../assets/img/oficina_tapabocas_4.jpg')">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            <h1 class="mb-3">Bienvenido a FaceMask Detector</h1>
            <h5 class="mb-4">La mejor manera de prevenir el COVID-19 en tu empresa</h5>
            <button class="btn btn-outline-light btn-lg m-2"
                (click)="open()"
                role="button"
                rel="nofollow"
                target="_blank"
                >¿Qué hacemos?</button>
            <button class="btn btn-outline-light btn-lg m-2"
                [routerLink]="['/login']"
                role="button"
                >Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->